@font-face {
  font-family: 'iconfont';
  /* Project id 3227089 */
  src: url('//at.alicdn.com/t/font_3227089_k6yqxenof1.woff2?t=1647329179695') format('woff2'),
    url('//at.alicdn.com/t/font_3227089_k6yqxenof1.woff?t=1647329179695') format('woff'),
    url('//at.alicdn.com/t/font_3227089_k6yqxenof1.ttf?t=1647329179695') format('truetype');
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-myfill:before {
  content: "\e78c";
}

.icon-order_fill:before {
  content: "\e713";
}

.icon-cart-:before {
  content: "\e834";
}

.icon-home-filling:before {
  content: "\e68d";
}

