@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin imageHack{
  height: 0;
  overflow: hidden;
}
@mixin hiddenOverFlow{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}